<h1>Editing flight</h1>

<% form_for(@flight) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </p>
  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
  <p>
    <%= f.label :altitude %><br />
    <%= f.text_field :altitude %>
  </p>
  <p>
    <%= f.label :groundspeed %><br />
    <%= f.text_field :groundspeed %>
  </p>
  <p>
    <%= f.label :heading %><br />
    <%= f.text_field :heading %>
  </p>
  <p>
    <%= f.label :air_temp %><br />
    <%= f.text_field :air_temp %>
  </p>
  <p>
    <%= f.label :air_density %><br />
    <%= f.text_field :air_density %>
  </p>
  <p>
    <%= f.label :pressure %><br />
    <%= f.text_field :pressure %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @flight %> |
<%= link_to 'Back', flights_path %>