<% content_for :head do%>
    <%= render :partial => 'head' %>
    <%= javascript_include_tag :all, :cache => true %>
    <%= stylesheet_link_tag 'gui' %>
    <%= stylesheet_link_tag 'simple-slider' %>
<% end %>
<h1>Google Earth Flight Status Visualizer</h1>
<table style="width: 100%; height: 400px;">
    <tr>
        <td style="100%" valign="top">
            <table style="width: 100%; height: 400px;">
                <tr>
                    <%= render :partial => 'sidebar' %>
                    <%= render :partial => 'earth' %>
                    <%= render :partial => 'map' %>
                </tr>
            </table>
        </td>
    </tr>
</table>
<%= render :partial => 'charts'%>