<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
       
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>GUI: <%= controller.action_name %></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <%= render :partial => "head" %>
        <%= javascript_include_tag :all, :cache => true %>
        <%= stylesheet_link_tag 'gui' %>
        <%= stylesheet_link_tag 'simple-slider' %>
    </head>
        <%= yield %>
</html>
    